<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <%;- include('../server.js') %> <!-- Calling the server.js file in this ejs file-->>
    <title>Weather Currently</title>
</head>
<body>
    <div class = "main-text">
        This is the Weather here at this given moment in time
    </div>
    <div class = "sub-text">
        <%= CurrentTemp %> degrees celsius and it is a
        <%= description %> at the moment
        <!-- Printing out the current weather locally in Dubai -->>
    </div>
</body>
</html>